body{
  margin:0;
  font-family:Arial;
}

#navbar{
  position:fixed;
  top:0;
  width:100%;
  background:black;
  color:white;

  display:flex;

  justify-content:space-between;

  padding:15px;
}

ul{
  display:flex;
  list-style:none;
}

li{
  margin-right:20px;
}

a{
  color:white;
  text-decoration:none;
}

a:hover{
  color:yellow;
}

.hero{
  height:100vh;
  margin-top:80px;
  background:blue;
  color:white;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}